-- MySQL dump 10.13  Distrib 8.0.30, for Win64 (x86_64)
--
-- Host: localhost    Database: cashflow
-- ------------------------------------------------------
-- Server version	8.0.30

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `activity_log`
--

DROP TABLE IF EXISTS `activity_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `activity_log` (
  `id_log` int NOT NULL AUTO_INCREMENT,
  `user_id` int DEFAULT NULL,
  `role` enum('admin','user') COLLATE utf8mb4_general_ci DEFAULT NULL,
  `module` varchar(80) COLLATE utf8mb4_general_ci NOT NULL,
  `aksi` varchar(120) COLLATE utf8mb4_general_ci NOT NULL,
  `deskripsi` text COLLATE utf8mb4_general_ci,
  `ip_address` varchar(45) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `user_agent` text COLLATE utf8mb4_general_ci,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_log`),
  KEY `idx_activity_user` (`user_id`),
  KEY `idx_activity_module` (`module`),
  KEY `idx_activity_created` (`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=638 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `budget_kategori`
--

DROP TABLE IF EXISTS `budget_kategori`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `budget_kategori` (
  `id_budget` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `id_kategori` int NOT NULL,
  `bulan` tinyint unsigned NOT NULL,
  `tahun` smallint unsigned NOT NULL,
  `nominal_budget` bigint unsigned NOT NULL DEFAULT '0',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_budget`),
  UNIQUE KEY `uniq_budget_periode` (`user_id`,`id_kategori`,`bulan`,`tahun`),
  KEY `idx_budget_user_periode` (`user_id`,`bulan`,`tahun`),
  KEY `idx_budget_kategori` (`id_kategori`)
) ENGINE=InnoDB AUTO_INCREMENT=55 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `hutang`
--

DROP TABLE IF EXISTS `hutang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hutang` (
  `id_hutang` int NOT NULL AUTO_INCREMENT,
  `tanggal` date NOT NULL,
  `tanggal_jatuh_tempo` date DEFAULT NULL,
  `tanggal_lunas` date DEFAULT NULL,
  `kreditur` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `catatan` text COLLATE utf8mb4_general_ci NOT NULL,
  `jumlah` int NOT NULL,
  `user` int NOT NULL,
  `id_wallet_pembayaran` int DEFAULT NULL,
  `id_pengeluaran` int DEFAULT NULL,
  `status` enum('pending','selesai') COLLATE utf8mb4_general_ci NOT NULL,
  `archived_at` datetime DEFAULT NULL,
  `archived_by` int DEFAULT NULL,
  PRIMARY KEY (`id_hutang`),
  UNIQUE KEY `uniq_hutang_pengeluaran` (`id_pengeluaran`),
  KEY `idx_hutang_wallet_pembayaran` (`id_wallet_pembayaran`),
  KEY `idx_hutang_user_status` (`user`,`status`),
  KEY `idx_hutang_user_archive` (`user`,`archived_at`),
  CONSTRAINT `fk_hutang_pengeluaran` FOREIGN KEY (`id_pengeluaran`) REFERENCES `pengeluaran` (`id_pengeluaran`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_hutang_user` FOREIGN KEY (`user`) REFERENCES `user` (`id_user`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=37 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `kategori`
--

DROP TABLE IF EXISTS `kategori`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kategori` (
  `id_kategori` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `nama_kategori` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `tipe_kategori` enum('pemasukan','pengeluaran') COLLATE utf8mb4_general_ci NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_kategori`),
  UNIQUE KEY `uniq_kategori_user_nama_tipe` (`user_id`,`nama_kategori`,`tipe_kategori`),
  KEY `idx_kategori_user` (`user_id`),
  KEY `idx_kategori_tipe` (`tipe_kategori`)
) ENGINE=InnoDB AUTO_INCREMENT=130 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `pemasukan`
--

DROP TABLE IF EXISTS `pemasukan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pemasukan` (
  `id_pemasukan` int NOT NULL AUTO_INCREMENT,
  `tanggal` date NOT NULL,
  `catatan` text COLLATE utf8mb4_general_ci NOT NULL,
  `jumlah` int NOT NULL,
  `user` int NOT NULL,
  `id_kategori` int DEFAULT NULL,
  `id_wallet` int DEFAULT NULL,
  `status` enum('pending','selesai') COLLATE utf8mb4_general_ci NOT NULL,
  `archived_at` datetime DEFAULT NULL,
  `archived_by` int DEFAULT NULL,
  PRIMARY KEY (`id_pemasukan`),
  KEY `idx_pemasukan_user` (`user`),
  KEY `idx_pemasukan_kategori` (`id_kategori`),
  KEY `idx_pemasukan_wallet` (`id_wallet`),
  KEY `idx_pemasukan_user_archive` (`user`,`archived_at`),
  CONSTRAINT `fk_pemasukan_kategori` FOREIGN KEY (`id_kategori`) REFERENCES `kategori` (`id_kategori`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_pemasukan_user` FOREIGN KEY (`user`) REFERENCES `user` (`id_user`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_pemasukan_wallet` FOREIGN KEY (`id_wallet`) REFERENCES `wallet` (`id_wallet`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=124 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `pengeluaran`
--

DROP TABLE IF EXISTS `pengeluaran`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pengeluaran` (
  `id_pengeluaran` int NOT NULL AUTO_INCREMENT,
  `tanggal` date NOT NULL,
  `catatan` text COLLATE utf8mb4_general_ci NOT NULL,
  `jumlah` int NOT NULL,
  `user` int NOT NULL,
  `id_kategori` int DEFAULT NULL,
  `id_wallet` int DEFAULT NULL,
  `status` enum('pending','selesai') COLLATE utf8mb4_general_ci NOT NULL,
  `archived_at` datetime DEFAULT NULL,
  `archived_by` int DEFAULT NULL,
  PRIMARY KEY (`id_pengeluaran`),
  KEY `idx_pengeluaran_user` (`user`),
  KEY `idx_pengeluaran_kategori` (`id_kategori`),
  KEY `idx_pengeluaran_wallet` (`id_wallet`),
  KEY `idx_pengeluaran_user_archive` (`user`,`archived_at`),
  CONSTRAINT `fk_pengeluaran_kategori` FOREIGN KEY (`id_kategori`) REFERENCES `kategori` (`id_kategori`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_pengeluaran_user` FOREIGN KEY (`user`) REFERENCES `user` (`id_user`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_pengeluaran_wallet` FOREIGN KEY (`id_wallet`) REFERENCES `wallet` (`id_wallet`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=174 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `piutang`
--

DROP TABLE IF EXISTS `piutang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `piutang` (
  `id_piutang` int NOT NULL AUTO_INCREMENT,
  `tanggal` date NOT NULL,
  `tanggal_jatuh_tempo` date DEFAULT NULL,
  `tanggal_lunas` date DEFAULT NULL,
  `debitur` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `catatan` text COLLATE utf8mb4_general_ci NOT NULL,
  `jumlah` int NOT NULL,
  `user` int NOT NULL,
  `id_wallet_penerimaan` int DEFAULT NULL,
  `id_pemasukan` int DEFAULT NULL,
  `status` enum('pending','selesai') COLLATE utf8mb4_general_ci NOT NULL,
  `archived_at` datetime DEFAULT NULL,
  `archived_by` int DEFAULT NULL,
  PRIMARY KEY (`id_piutang`),
  UNIQUE KEY `uniq_piutang_pemasukan` (`id_pemasukan`),
  KEY `idx_piutang_wallet_penerimaan` (`id_wallet_penerimaan`),
  KEY `idx_piutang_user_status` (`user`,`status`),
  KEY `idx_piutang_user_archive` (`user`,`archived_at`),
  CONSTRAINT `fk_piutang_pemasukan` FOREIGN KEY (`id_pemasukan`) REFERENCES `pemasukan` (`id_pemasukan`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_piutang_user` FOREIGN KEY (`user`) REFERENCES `user` (`id_user`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=48 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `recurring_generation_log`
--

DROP TABLE IF EXISTS `recurring_generation_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `recurring_generation_log` (
  `id_log` int NOT NULL AUTO_INCREMENT,
  `id_recurring` int NOT NULL,
  `user_id` int NOT NULL,
  `periode_bulan` tinyint NOT NULL,
  `periode_tahun` int NOT NULL,
  `tipe_transaksi` enum('pemasukan','pengeluaran') COLLATE utf8mb4_general_ci NOT NULL,
  `id_transaksi` int NOT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_log`),
  UNIQUE KEY `uniq_recurring_period` (`id_recurring`,`periode_bulan`,`periode_tahun`),
  KEY `idx_log_user` (`user_id`),
  KEY `idx_log_recurring` (`id_recurring`),
  KEY `idx_log_period` (`periode_bulan`,`periode_tahun`)
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `recurring_transaction`
--

DROP TABLE IF EXISTS `recurring_transaction`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `recurring_transaction` (
  `id_recurring` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `tipe_transaksi` enum('pemasukan','pengeluaran') COLLATE utf8mb4_general_ci NOT NULL,
  `id_kategori` int DEFAULT NULL,
  `id_wallet` int NOT NULL,
  `nama_recurring` varchar(150) COLLATE utf8mb4_general_ci NOT NULL,
  `catatan` text COLLATE utf8mb4_general_ci,
  `jumlah` decimal(15,2) NOT NULL DEFAULT '0.00',
  `frekuensi` enum('bulanan') COLLATE utf8mb4_general_ci NOT NULL DEFAULT 'bulanan',
  `tanggal_generate` tinyint NOT NULL DEFAULT '1',
  `status_transaksi_default` enum('pending','selesai') COLLATE utf8mb4_general_ci NOT NULL DEFAULT 'pending',
  `mulai_dari` date NOT NULL,
  `berakhir_pada` date DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_recurring`),
  KEY `idx_recurring_user` (`user_id`),
  KEY `idx_recurring_active` (`user_id`,`is_active`),
  KEY `idx_recurring_wallet` (`id_wallet`),
  KEY `idx_recurring_kategori` (`id_kategori`)
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `saving_goal`
--

DROP TABLE IF EXISTS `saving_goal`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `saving_goal` (
  `id_goal` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `nama_goal` varchar(150) COLLATE utf8mb4_general_ci NOT NULL,
  `target_nominal` decimal(15,2) NOT NULL DEFAULT '0.00',
  `target_tanggal` date DEFAULT NULL,
  `status` enum('aktif','selesai','arsip') COLLATE utf8mb4_general_ci NOT NULL DEFAULT 'aktif',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_goal`),
  KEY `idx_goal_user` (`user_id`),
  KEY `idx_goal_status` (`status`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `saving_goal_mutasi`
--

DROP TABLE IF EXISTS `saving_goal_mutasi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `saving_goal_mutasi` (
  `id_mutasi` int NOT NULL AUTO_INCREMENT,
  `id_goal` int NOT NULL,
  `user_id` int NOT NULL,
  `id_wallet` int DEFAULT NULL,
  `tanggal` date NOT NULL,
  `tipe` enum('setor','tarik') COLLATE utf8mb4_general_ci NOT NULL,
  `jumlah` decimal(15,2) NOT NULL DEFAULT '0.00',
  `catatan` text COLLATE utf8mb4_general_ci,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_mutasi`),
  KEY `idx_mutasi_goal` (`id_goal`),
  KEY `idx_mutasi_user` (`user_id`),
  KEY `idx_mutasi_tanggal` (`tanggal`),
  KEY `idx_mutasi_wallet` (`id_wallet`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `transfer_wallet`
--

DROP TABLE IF EXISTS `transfer_wallet`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `transfer_wallet` (
  `id_transfer` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `wallet_asal_id` int NOT NULL,
  `wallet_tujuan_id` int NOT NULL,
  `tanggal` date NOT NULL,
  `jumlah` decimal(15,2) NOT NULL DEFAULT '0.00',
  `catatan` text COLLATE utf8mb4_general_ci,
  `status` enum('pending','selesai','batal') COLLATE utf8mb4_general_ci NOT NULL DEFAULT 'selesai',
  `archived_at` datetime DEFAULT NULL,
  `archived_by` int DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_transfer`),
  KEY `idx_transfer_user` (`user_id`),
  KEY `idx_transfer_tanggal` (`tanggal`),
  KEY `idx_transfer_wallet_asal` (`wallet_asal_id`),
  KEY `idx_transfer_wallet_tujuan` (`wallet_tujuan_id`),
  KEY `idx_transfer_status` (`status`),
  KEY `idx_transfer_user_archive` (`user_id`,`archived_at`),
  CONSTRAINT `fk_transfer_user` FOREIGN KEY (`user_id`) REFERENCES `user` (`id_user`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_transfer_wallet_asal` FOREIGN KEY (`wallet_asal_id`) REFERENCES `wallet` (`id_wallet`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_transfer_wallet_tujuan` FOREIGN KEY (`wallet_tujuan_id`) REFERENCES `wallet` (`id_wallet`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user` (
  `id_user` int NOT NULL AUTO_INCREMENT,
  `username` varchar(20) COLLATE utf8mb4_general_ci NOT NULL,
  `nama` varchar(50) COLLATE utf8mb4_general_ci NOT NULL,
  `email` varchar(50) COLLATE utf8mb4_general_ci NOT NULL,
  `password` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `no_telp` varchar(13) COLLATE utf8mb4_general_ci NOT NULL,
  `foto` varchar(255) COLLATE utf8mb4_general_ci NOT NULL DEFAULT 'default.png',
  `role` enum('admin','user') COLLATE utf8mb4_general_ci NOT NULL DEFAULT 'user',
  `create_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `last_login_at` datetime DEFAULT NULL,
  `last_profile_update_at` datetime DEFAULT NULL,
  `is_active` enum('0','1') COLLATE utf8mb4_general_ci NOT NULL DEFAULT '1',
  PRIMARY KEY (`id_user`)
) ENGINE=InnoDB AUTO_INCREMENT=72 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `wallet`
--

DROP TABLE IF EXISTS `wallet`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `wallet` (
  `id_wallet` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `nama_wallet` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `tipe_wallet` enum('cash','bank','e_wallet','tabungan','kartu','lainnya') COLLATE utf8mb4_general_ci NOT NULL DEFAULT 'lainnya',
  `id_wallet_type` int DEFAULT NULL,
  `saldo_awal` decimal(15,2) NOT NULL DEFAULT '0.00',
  `is_default` tinyint(1) NOT NULL DEFAULT '0',
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_wallet`),
  UNIQUE KEY `uniq_wallet_user_name` (`user_id`,`nama_wallet`),
  KEY `idx_wallet_user` (`user_id`),
  KEY `idx_wallet_user_active` (`user_id`,`is_active`),
  KEY `idx_wallet_custom_type_owner` (`id_wallet_type`,`user_id`),
  CONSTRAINT `fk_wallet_custom_type_owner` FOREIGN KEY (`id_wallet_type`, `user_id`) REFERENCES `wallet_type` (`id_wallet_type`, `user_id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=46 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `wallet_type`
--

DROP TABLE IF EXISTS `wallet_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `wallet_type` (
  `id_wallet_type` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `nama_tipe` varchar(50) COLLATE utf8mb4_general_ci NOT NULL,
  `icon` varchar(32) COLLATE utf8mb4_general_ci NOT NULL DEFAULT 'credit-card',
  `warna` char(7) COLLATE utf8mb4_general_ci NOT NULL DEFAULT '#64748B',
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_wallet_type`),
  UNIQUE KEY `uniq_wallet_type_user_name` (`user_id`,`nama_tipe`),
  UNIQUE KEY `uniq_wallet_type_owner` (`id_wallet_type`,`user_id`),
  KEY `idx_wallet_type_user_active` (`user_id`,`is_active`),
  CONSTRAINT `fk_wallet_type_user` FOREIGN KEY (`user_id`) REFERENCES `user` (`id_user`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-23  9:24:43
